<h1>Editing migropost</h1>

<%= render "form", migropost: @migropost %>

<br>

<div>
  <%= link_to "Show this migropost", @migropost %> |
  <%= link_to "Back to migroposts", migroposts_path %>
</div>
